body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
  background: #111;
  color: #fff;
}

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#word {
  font-size: 3rem;
  text-align: center;
  margin: 2rem;
}

#timer {
  position: absolute;
  top: 20px;
  font-size: 2rem;
}

button {
  font-size: 1.5rem;
  padding: 1rem 2rem;
}